[mysqld]
# PXC
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so

wsrep_cluster_name=pxc-cluster
wsrep_cluster_address=gcomm://{{ groups.pxc | join(',') }}

{% for host in ansible_play_batch -%}
{% if host == inventory_hostname -%}
wsrep_node_name=pxc{{ loop.index  }}
{% endif -%}
{% endfor -%}

wsrep_node_address={{ inventory_hostname }}

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=sstuser:{{ sst_password }}

pxc_strict_mode=ENFORCING

